/*Шапка*/
.main-header
{
    margin-bottom: 25px;
}
/*Навигация*/
.list-navigation
{
    list-style: none;
    display: flex;
    margin: 0;
}
.list-navigation li
{
    margin-right: 50px;
}
.list-navigation a
{
    font-size:20px;
    color:black;
    text-decoration: none;
}
.list-navigation a:hover,
.list-navigation a:focus,
.list-navigation a:active
{
    text-decoration: underline;
}
/*Поле формы*/
.field-form
{
    width: 30%;
}
.form-clicker
{
    display: grid;
    grid-row-gap: 5px;

}
/*Стилизация кнопки*/
.input-button-click
{
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 0.4px;
    height: 0.4px;
}
.label-button-click
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.label-button-click span
{
    background: gainsboro;
    width: 35%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    color: black;
    text-decoration: none;
}
.label-button-click a:hover,.label-button-click a:focus,
.label-button-click a:active
{
    background:darkgrey;
}

/*Страница ленты*/
.feed-area
{
    border-style: dashed;
    border-width: 1px;
}
.list-of-users
{
    list-style-type: none;
}

.list-of-users li
{
    margin-bottom: 5px;
}